@using GAB.Core.Domain

@model Ansatt

@{
    ViewBag.Title = "Slett";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Slett</h2>

<h3>Er du sikker på at du ønsker å slette denne ansatte?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rolle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rolle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avdeling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avdeling)
        </dd>
               
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Slett" class="btn btn-default" /> |
            @Html.ActionLink("Tilbake til listen", "Index")
        </div>
    }
</div>
